<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Banco -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/helpdesk</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>

        <!-- Dialeto -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Mostrar SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Criar tabelas automaticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entidades -->
        <mapping class="com.helpdesk.model.Usuario"/>
        <mapping class="com.helpdesk.model.Tecnico"/>
        <mapping class="com.helpdesk.model.Chamado"/>

    </session-factory>
</hibernate-configuration>